body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0ec9b4;
  color: #ffffff;
  transition: background 0.3s, color 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #1d2127;

  .logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;

    &:hover {
      color: #2b9fd9;
    }
  }

  button {
    margin-left: 10px;
    border: none;
    background: #2b9fd9;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 6px;

    &:hover {
      opacity: 0.85;
    }
  }
}

.home {
  padding: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;

  input {
    width: 280px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #444;
    background: #2a2f36;
    color: white;

    &::placeholder {
      color: #aaa;
    }
  }

  button {
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #2b9fd9;
    color: white;

    &:hover {
      opacity: 0.85;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.movie-card {
  background: #2a2f36;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;

  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  .movie-info {
    padding: 15px;
    text-align: center;
    color: white;
  }

  &:hover {
    transform: translateY(-6px);
  }
}

body.light {
  background: #0ec9b4;
  color: #ffffff;


  .navbar {
    background: #0ec9b4;
  }

  a {
    color: #000;
  }

  .movie-card {
    background: #11f5da;
    color: #000;
  }

  input {
    background: #ffffff;
    color: #000;
  }

  button {
    background: #2b9fd9;
    color: white;
  }
}

body.dark {
  background: #1d2127;
  color: #ffffff;

  .navbar {
    background: #1d2127;
  }

  a {
    color: white;
  }

  .movie-card {
    background: #2a2f36;
  }

  input {
    background: #2a2f36;
    color: white;
  }

  button {
    background: #2b9fd9;
    color: white;
  }
}
